/*look at stu 06 responsive design to look at a better layout for portfolio site
(or at least for resizing portfolio site */

body {
    background-color: lightsteelblue;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;
    color:antiquewhite;
}

.header h1 {
    font-size: 48px;
    flex: 1 1;
}

.header menu {
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.header menu li {
    margin-left: 25px;
}

a {
    color:antiquewhite;
    text-decoration: none;
}

p {
    font-size: 16px;
    flex: 0 0 200px;
    align-self: center;
}

main {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cadetblue;
    color:antiquewhite;
}

.card h2 {
    flex: 0 0 200px;
    align-self: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.avatar {
   width: 200px;
}

#aboutme {
    scroll-behavior: smooth;
}

#work {
    scroll-behavior: smooth;
}

#contactme {
    scroll-behavior: smooth;
}

/* media query */