body {
    background-color: lightsteelblue;
}

/*The "header" class and all its descendent selectors style the header and navbar of the page */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;
    color:antiquewhite;
}

.header h1 {
    font-size: 48px;
    flex: 1 1;
}

.header menu {
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.header menu li {
    margin-left: 25px;
}

/*This styles all the anchor elements on the page*/
a {
    color:antiquewhite;
    text-decoration: none;
}

/*This styles all the paragraph elements on the page*/
p {
    font-size: 16px;
    flex: 0 0 200px;
    align-self: center;
}
/*This turns the main container of the page into a flexbox and arranges the elements in a column */
main {
    display: flex;
    flex-direction: column;
}
/*This is the container for each of the sections of the page. It is also a flex container*/
.card {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cadetblue;
    color:antiquewhite;
}

.card h2 {
    flex: 0 0 200px;
    align-self: center;
    margin-bottom: 20px;
    font-size: 36px;
}

img {
    width: 200px;
}


/*This is a container for the image that links to a deployed app.
I have utilized a container in this case so that I could overlay a caption on the image*/
figure {
    position: relative;
    width: 200px;
}

figcaption {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/*This styles the image when the cursor hovers over it*/
figure:hover figcaption {
    opacity: 1;
}

/*The following three classes style the scroll-movement when you click a link in the nav bar*/
#aboutme {
    scroll-behavior: smooth;
}

#work {
    scroll-behavior: smooth;
}

#contactme {
    scroll-behavior: smooth;
}

/*These media queries style the page based on the user's viewport*/
@media screen and (max-width: 992px) {
    body {
        background-color:darkseagreen;
    }
    .header {
        background-color:aquamarine;
        color:hotpink;
    }
    .card {
        background-color:darkolivegreen;
        color: hotpink;
    }
    a {
        color: hotpink;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color:grey;
    }
    .header {
        background-color:midnightblue;
        color:goldenrod;
    }
    .card {
        background-color:slategrey;
        color:goldenrod;
        border: 9px solid white ;
    }
    a {
        color:goldenrod;
    }
}
